<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoTime</title>
    <link rel="stylesheet" href="/views/style.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <div class="home-grid">
      <div class="itemcontainer">
        <div id="logocontainer">
          <img id="logo" src="/views/time.png" alt="logo" />
        </div>
        <div id="playmode">
          <button id="single" class="playbuttons btn">Play Game</button>
        </div>
      </div>
  
      <div id="leaderboard">
        <h2>Leaderboard</h2>
        <ol id="list"></ol>
      </div>
    </div>
    <script>
      function requestClicked() {
        //location.href = 'http://localhost:3000/page2';
        location.href = "./single";
        return false;
      }
      function polling() {
        $.ajax({
          url: "/getleaderboard",
          type: "GET",
          data: null,
          success: function (data) {
            $("#list").empty();
            for (i = 0; i < data.leaderboard.length; i++) {
              console.log("hi");
              html =
                "<li><span>" +
                data.leaderboard[i].name +
                ": " +
                data.leaderboard[i].score +
                "</span></li>";
              $("#list").append(html);
            }
          },
          dataType: "json",
        });
        let numMilliSeconds = 1000; // 1000 milliseconds = 1 second
        setTimeout(polling, numMilliSeconds);
      }
      $(document).ready(function () {
        $.ajax({
          url: "/initializeserver",
          type: "GET",
          data: null,
          success: function (data) {
            if(data.istrue){
              $.ajax({
                url: "/initializeserver2",
                type: "POST",
                data:{list:data.list},
                success: function(data){
                  return;
                } ,
                dataType: "json"
              }); 
            }
          },
          dataType: "json",
        });
        polling();
        $("#single").click(requestClicked);
      });
    </script>
  </body>
</html>
